.btn {
  width: 100%;
  margin: 1rem auto;
  display: block;
}

.btn-color, 
.btn-white:hover {
  background-color: #c2a18a;
  border: 1px solid #c2a18a;
  color: white;
  padding: 0.2rem 0.8rem;
}


.btn-white,
.btn-color:hover {
  background: none;
  border: 1px solid #c2a18a;
  color: #c2a18a;
  padding: 0.2rem 0.8rem;
}
