.cart-cont {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 20px;
}

.cart-cont-sec {
  flex:1;
}

@media screen and (min-width: 960px) {
  .cart-cont {
    margin: 4rem auto;
    flex-direction: row;
    justify-content: space-around;
  }
}
