* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts/Text */

.ff-accent{
  font-family: 'Abril Fatface', cursive;
}

.ff-primary {
  font-family: 'Poppins', sans-serif;
}

.ff-secondary {
  font-family: 'Montserrat', sans-serif;
}

.f-color {
  color: #c2a18a;
}

.hero-title {
  font-size: 5rem;
  line-height: 5rem;
}



/* Responsive */

@media screen and (min-width: 960px) {

  .hero-title {
    font-size: 8rem;
    line-height: 8rem;
  }

  .hero-height {
    max-height: 100vh;
  }

}  
