* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts/Text */

.ff-accent{
  font-family: 'Abril Fatface', cursive;
}

.ff-primary {
  font-family: 'Poppins', sans-serif;
}

.ff-secondary {
  font-family: 'Montserrat', sans-serif;
}

.f-color {
  color: #c2a18a;
}

.f-smaller {
  font-size: 0.8rem;
}

.hero-title {
  font-size: 5rem;
  line-height: 5rem;
}

/* Links */

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: grey;
}

/* Buttons */

.btn-gral {
  width: 100%;
  margin: 1rem auto;
  display: block;
}

.btn-color, 
.btn-white:hover {
  background-color: #c2a18a;
  border: 1px solid #c2a18a;
  color: white;
  padding: 0.2rem 0.8rem;
}


.btn-white,
.btn-color:hover {
  background: none;
  border: 1px solid #c2a18a;
  color: #c2a18a;
  padding: 0.2rem 0.8rem;
}

/* Loader */

.loader {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 10rem auto;
  transform: translate(50%, 50%);
  border: 0.5rem solid white;
  border-top: 0.5rem solid #c2a18a;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* Responsive */

@media screen and (min-width: 960px) {

  .hero-title {
    font-size: 8rem;
    line-height: 8rem;
  }

  .hero-height {
    max-height: 100vh;
  }

}  
