 
  .txt-anim {
      position: absolute;
      right: 0;
      width: 100;
      height: 1.2rem;
      background-color: #fff;
      animation: writing 10s infinite;
    }
    
    @keyframes writing {
      from {
        width: 80%;
      }
      to {
        width: 20%;
      }
    }